[Desktop Entry]
Name=dedup
GenericName=File Archive
Comment=Archive folders and store identical files only once
Exec=dedup-app
Icon=dedup
Type=Application
Categories=Utility;FileTools;
Keywords=duplicates;deduplicate;archive;backup;files;
StartupWMClass=dedup-app
